# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


# Custome ignore.
src/main/*
!src/main/java
!src/main/resources


src/main/java/*
!src/main/java/my


src/main/resources/*
!src/main/resources/my.study.files
!src/main/resources/log4j.properties